<!DOCTYPE html>
{% load humanize %}
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه آنلاین</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    {% include 'partials/header.html' %}

    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="hero-content">
            <h1>دسته بندی محصولات</h1>
        </div>

    </section>

    <!-- Categories Section -->
    <section class="categories">
        <div class="container">
            <h2 class="section-title">دسته‌بندی محصولات</h2>
            <div class="categories-grid">
                {% for category in categories %}
                <a href="{% url 'category_products' category.name %}" style="text-decoration: none">
                    <div class="category-card">
                        <div class="category-icon">
                            {% if category.icon  %}
                            <img src = "{{ category.icon.url }}" alt="{{ category.name }}"  class = 'product-image'>
                            {% endif %}

                        </div>
                        <h3>{{ category.name }}</h3>
                        <p>{{ category.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
