{% extends 'master.html' %}
{% load static %}
{% block title %}
Products
{% endblock %}
{% block header %}
        <h1>{{ category.name }}</h1>
        <p></p>
{% endblock %}
{% block content %}



     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href = '{% url 'index' %}' class="nav-link" >Home</a>
                    </li>
                    {% if  user.is_authenticated  %}
                        <li class="nav-item">
                        <a href = '/logout' class="nav-link" >Logout</a>
                        </li>
                        <li class="nav-item">
                        <a href = '{% url 'profile' %}' class="nav-link" >Profile</a>
                    {% else  %}
                        <li class="nav-item">
                        <a href =  '{% url 'register' %}' class="nav-link" >Register</a>
                    </li>
                        <li class="nav-item">
                        <a href = '/login' class="nav-link" >Login</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/mohamadrezabjr">Contact</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}

                <div class="cart-container">
                    <a href = '{% url 'cart' %}' style="text-decoration: none">
                    <i class="bi bi-cart cart-icon"></i>
                    <img src = "{% static 'images/cart.png' %}" alt="Cart" class="cart-icon">
                    <span class="cart-count"> {{ n }}
                    </span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <section class="text-center bg-light py-5">
        <div class="container">
            <h1>Available Products</h1>
            <p class="lead">Browse and purchase the best products tailored to your needs.</p>
        </div>
    </section>

    <section class="container py-5">
        <div class="row g-4">
            {% for product in products %}
            <div class="col-md-4">

                <div class="card h-100 text-center">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                        <img src='{% static "/images/no_image.jpg" %}'class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="fw-bold text-primary">${{ product.price }}</p>
                        <a href= "{% url 'detail' product.token%}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    <script >
     document.addEventListener("DOMContentLoaded", function() {
    var navbarToggler = document.querySelector(".navbar-toggler");
    var navbarCollapse = document.querySelector(".navbar-collapse");

    document.addEventListener("click", function(event) {
        var isClickInsideNavbar = navbarCollapse.contains(event.target) || navbarToggler.contains(event.target);

        if (!isClickInsideNavbar && navbarCollapse.classList.contains("show")) {
            new bootstrap.Collapse(navbarCollapse).hide();
        }
    });
});


    </script>
{% endblock %}